name: testing calculator
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
    testing: 
     runs-on: ubuntu-latest
     steps:
        - uses: actions/checkout@v2

        - name: install dependencies
          run: |
            python -m pip install --upgrade pip
            pip install -r requirements.txt
        - name: run tests v1 
          run: python -m unittest test_calculator.py 
    deploy:
        needs: testing 
        runs-on: ubuntu-latest
        steps:
            - name: Deployment Step
              run: echo "Deployment step executed after successful tests."
    deploy2:
        needs: testing 
        runs-on: ubuntu-latest
        steps:
            - name: Deployment Step
              run: echo "Deployment step executed after successful tests."          